table {
	width: 100%;
}

th {
	width: 17%;
	font-size: medium;
}

td {
	font-size: small;
	width: 17%;
	text-align: center;
}

::ng-deep .mat-sort-header-container {
	display: flex;
	justify-content: center;
}
