<div class="card col-7 mx-auto">
  <div class="card-body">
    <form [formGroup]="carSearchForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field appearance="standard" class="form-field">
          <mat-label>Svrha</mat-label>
          <mat-select formControlName="svrha">
            <mat-option *ngFor="let svrha of svrhaLista" [value]="svrha.value">
              {{ svrha.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="standard" class="form-field">
          <mat-label>Dodatna oprema</mat-label>
          <mat-select formControlName="dodatnaOprema" multiple>
            <mat-option
              *ngFor="let oprema of dodatnaOprema"
              [value]="oprema.value"
            >
              {{ oprema.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="standard" class="form-field">
          <mat-label>Dodaci za udobnost</mat-label>
          <mat-select formControlName="dodaciZaUdobnost" multiple>
            <mat-option
              *ngFor="let dodatak of dodaciZaUdobnost"
              [value]="dodatak.value"
            >
              {{ dodatak.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="standard" class="form-field">
          <mat-label>Broj putnika</mat-label>
          <mat-select formControlName="brojPutnika">
            <mat-option *ngFor="let broj of brojPutnika" [value]="broj.value">
              {{ broj.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-checkbox [formControl]="ekoloskaVoznja"
          >Ekološka vožnja</mat-checkbox
        >
      </div>
      <div class="form-group">
        <mat-form-field appearance="standard" class="form-field">
          <mat-label>Budžet</mat-label>
          <mat-select formControlName="nivoBudzeta">
            <mat-option *ngFor="let nivo of nivoBudzeta" [value]="nivo.value">
              {{ nivo.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button
          class="btn btn-purple"
          type="submit"
          [disabled]="carSearchForm.invalid"
        >
          Pretrazi
        </button>
      </div>
    </form>
  </div>
</div>
