<form [formGroup]="searchForm" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Napredna pretraga</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-sm-3">
          <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field class="full-width">
            <input matInput placeholder="Dodatna oprema" formControlName="dodatnaOprema">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="Dodaci za udobnost" formControlName="dodaciZaUdobnost">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="Broj putnika" formControlName="brojPutnika">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="Budzett" formControlName="budzet">
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <!-- <mat-form-field class="full-width">
            <mat-checkbox [formControl]="ekoCheckbox">
              Ekoloska voznja</mat-checkbox>
          </mat-form-field> -->
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Pretrazi</button>
    </mat-card-actions>
  </mat-card>

</form>
